[submodule "3rd_party/opencv"]
	path = 3rd_party/opencv
	url = https://github.com/opencv/opencv.git
[submodule "3rd_party/opencv_contrib"]
	path = 3rd_party/opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
