/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/
/c_src/evision_generated_*
/c_src/evision_signatures.json
/c_src/evision_custom_headers.h
/c_src/configuration.private.hpp
/c_src/headers.txt
.DS_Store
.vscode/
.idea/
.cache/
*.pyc
/c_src/evision_custom_headers/*
/lib/erl_cv_nif.ex
/c_src/erl_cv_nif.ex
3rd_party/cache
3rd_party/opencv
/lib/generated
test/models/
test/photo_hdr_test/
