{erl_opts, [debug_info]}.
{deps, [
  dll_loader_helper
]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make EVISION_PREFER_PRECOMPILED=true EVISION_COMPILE_WITH_REBAR=true EVISION_MAKE=make"},
   {"(freebsd)", compile, "gmake EVISION_PREFER_PRECOMPILED=true EVISION_COMPILE_WITH_REBAR=true EVISION_MAKE=gmake"},
   {"win32", compile, "nmake"}
]}.

{erl_opts, [
  {platform_define,
    "(linux|solaris|freebsd|darwin|win32)",
    'EVISION_GENERATE_LANG', "erlang"}
  ]
}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/cocoa-xu/evision">>},
          {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>, <<"LICENSE-OpenCV">>]},
          {main, <<"README.md">>}]}.
