{erl_opts, [debug_info]}.
{deps, []}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make EVISION_PREFER_PRECOMPILED=true EVISION_COMPILE_WITH_REBAR=true EVISION_MAKE=make"},
   {"(freebsd)", compile, "gmake EVISION_PREFER_PRECOMPILED=true EVISION_COMPILE_WITH_REBAR=true EVISION_MAKE=gmake"},
   {"win32", compile, "nmake"}
]}.

{edoc_opts,
 [
  {doclet, edoc_doclet_chunks},
  {layout, edoc_layout_chunks},
  {preprocess, true},
  {dir, "_build/default/lib/evision/doc"}
 ]}.

{project_plugins, [rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
          {source_url, <<"https://github.com/cocoa-xu/evision">>},
          {extras, [<<"README.md">>, <<"CHANGELOG.md">>, <<"LICENSE">>, <<"LICENSE-OpenCV">>]},
          {main, <<"README.md">>}]}.
