_build
build
3rd_party/cache
3rd_party/opencv
src/generated
c_src/evision_generated_*
c_src/evision_signatures.json
c_src/evision_custom_headers.h
c_src/configuration.private.hpp
c_src/headers.txt
c_src/headers-contrib.txt
*.pyc
cmake_*/
priv/
checksum.erl
