name: linux-precompile-x86_64-manylinux2014-gnu

on:
  push:
    tags:
      - 'v*'
      - 'manylinux2014-test'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  mix_compile:
    runs-on: ubuntu-latest
    env:
      OPENCV_VER: "4.9.0"
      MIX_ENV: prod
      EVISION_PREFER_PRECOMPILED: "false"
      EVISION_GENERATE_LANG: "erlang,elixir"
    strategy:
      fail-fast: false
      matrix:
        include:
          - pair:
              arch: x86_64-linux-gnu
              cmake_toolchain_file: ""
              c_compiler: gcc
              cpp_compiler: g++
              OTP_VERSION: "25.3.2.8"
              NIF_VERSION: "2.16"
              ELIXIR_VERSION: "1.16.0"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull Docker Image
        run: |
          sudo docker pull quay.io/pypa/manylinux2014_x86_64:latest

      - name: Install system dependecies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential automake autoconf pkg-config bc m4 curl git libtinfo5 libssl-dev libncurses5-dev ca-certificates

      - name: Cache OpenCV source code
        id: cache-opencv
        uses: actions/cache@v4
        with:
          key: opencv-with-contrib-${{ env.OPENCV_VER }}
          path: |
            ./3rd_party

      - name: Download OpenCV source code
        if: steps.cache-opencv.outputs.cache-hit != 'true'
        run: |
          bash scripts/download_opencv.sh ${OPENCV_VER} 3rd_party/cache 3rd_party/opencv/
          bash scripts/download_opencv_contrib.sh ${OPENCV_VER} 3rd_party/cache 3rd_party/opencv/

      - name: Cache OTP
        uses: actions/cache@v4
        id: cache-otp
        with:
          path: ./cache/otp
          key: otp-${{ matrix.pair.OTP_VERSION }}-${{ matrix.pair.arch }}

      - name: Download OTP
        if: steps.cache-otp.outputs.cache-hit != 'true'
        run: |
          mkdir -p ./cache/otp
          curl -fSL https://cocoa.build/otp/v${{ matrix.pair.OTP_VERSION }}/otp-${{ matrix.pair.arch }}.tar.gz -o ./cache/otp/otp-v${{ matrix.pair.OTP_VERSION }}-${{ matrix.pair.arch }}.tar.gz
          cd ./cache/otp
          tar -xzf otp-v${{ matrix.pair.OTP_VERSION }}-${{ matrix.pair.arch }}.tar.gz

      - name: Cache Elixir
        id: cache-elixir
        uses: actions/cache@v4
        with:
          path: ./cache/elixir
          key: elixir-${{ matrix.pair.ELIXIR_VERSION }}-${{ matrix.pair.arch }}

      - name: Download and Compile Elixir
        if: steps.cache-elixir.outputs.cache-hit != 'true'
        run: |
          export PATH=$(pwd)/./cache/otp/usr/local/bin:$(pwd)/./cache/elixir/elixir-${{ matrix.pair.ELIXIR_VERSION }}/bin:${PATH}
          export ERL_ROOTDIR=$(pwd)/./cache/otp/usr/local/lib/erlang
          mkdir -p ./cache/elixir
          curl -fSL https://github.com/elixir-lang/elixir/archive/refs/tags/v${{ matrix.pair.ELIXIR_VERSION }}.tar.gz -o ./cache/elixir/elixir-${{ matrix.pair.ELIXIR_VERSION }}.tar.gz
          cd ./cache/elixir
          tar -xzf elixir-${{ matrix.pair.ELIXIR_VERSION }}.tar.gz
          cd elixir-${{ matrix.pair.ELIXIR_VERSION }}
          make -j$(nproc) compile

      - name: Mix Compile (without contrib modules)
        run: |
          cp .github/script-to-build-manylinux2014.sh ./
          cp .github/do-build-manylinux2014.sh ./

          export EVISION_ENABLE_CONTRIB=false

          if [ "${{ matrix.pair.cmake_toolchain_file }}" != "" ]; then
            export CMAKE_TOOLCHAIN_FILE="$(pwd)/${{ matrix.pair.cmake_toolchain_file }}"
          fi
          echo "CMAKE_TOOLCHAIN_FILE: ${CMAKE_TOOLCHAIN_FILE}"

          sudo rm -rf "./_build/${{ env.MIX_ENV }}/lib/evision"

          bash ./script-to-build-manylinux2014.sh "${{ env.MIX_ENV }}" "${{ matrix.pair.OTP_VERSION }}" "${{ matrix.pair.arch }}" "${{ matrix.pair.ELIXIR_VERSION }}" "${EVISION_ENABLE_CONTRIB}" "${CMAKE_TOOLCHAIN_FILE}"

      - name: Create precompiled library (without contrib modules)
        run: |
          export PKG_NAME=evision-nif_${{ matrix.pair.NIF_VERSION }}-${{ matrix.pair.arch }}-${GITHUB_REF##*/v}
          mkdir -p "${PKG_NAME}"
          export PRIV_DIR="_build/${MIX_ENV}/lib/evision/priv"
          sudo rm -rf "${PRIV_DIR}/include"
          cp -a "${PRIV_DIR}" "${PKG_NAME}"
          cp -a lib/generated "${PKG_NAME}/elixir_generated"
          cp -a src/generated "${PKG_NAME}/erlang_generated"
          tar -czf "${PKG_NAME}.tar.gz" "${PKG_NAME}"
          rm -rf "${PKG_NAME}"
          ls -lah "${PKG_NAME}.tar.gz"
          mkdir -p artifacts
          mv "${PKG_NAME}.tar.gz" artifacts
          cd artifacts
          sha256sum "${PKG_NAME}.tar.gz" | tee "${PKG_NAME}.tar.gz.sha256"

      - name: Mix Compile (with contrib modules)
        run: |
          export EVISION_ENABLE_CONTRIB=true

          if [ "${{ matrix.pair.cmake_toolchain_file }}" != "" ]; then
            export CMAKE_TOOLCHAIN_FILE="$(pwd)/${{ matrix.pair.cmake_toolchain_file }}"
          fi
          echo "CMAKE_TOOLCHAIN_FILE: ${CMAKE_TOOLCHAIN_FILE}"

          sudo rm -rf "./_build/"

          bash ./script-to-build-manylinux2014.sh "${{ env.MIX_ENV }}" "${{ matrix.pair.OTP_VERSION }}" "${{ matrix.pair.arch }}" "${{ matrix.pair.ELIXIR_VERSION }}" "true"

      - name: Create precompiled library (with contrib modules)
        run: |
          export PKG_NAME=evision-nif_${{ matrix.pair.NIF_VERSION }}-${{ matrix.pair.arch }}-contrib-${GITHUB_REF##*/v}
          mkdir -p "${PKG_NAME}"
          export PRIV_DIR="_build/${MIX_ENV}/lib/evision/priv"
          sudo rm -rf "${PRIV_DIR}/include"
          cp -a "${PRIV_DIR}" "${PKG_NAME}"
          cp -a lib/generated "${PKG_NAME}/elixir_generated"
          cp -a src/generated "${PKG_NAME}/erlang_generated"
          tar -czf "${PKG_NAME}.tar.gz" "${PKG_NAME}"
          rm -rf "${PKG_NAME}"
          ls -lah "${PKG_NAME}.tar.gz"
          mkdir -p artifacts
          mv "${PKG_NAME}.tar.gz" artifacts
          cd artifacts
          sha256sum "${PKG_NAME}.tar.gz" | tee "${PKG_NAME}.tar.gz.sha256"

      - uses: softprops/action-gh-release@v1
        with:
          files: |
            artifacts/*.tar.gz
            artifacts/*.sha256
