name: windows-precompile

on:
  push:
    tags:
      - 'v*'

jobs:
  mix_test:
    runs-on: windows-latest
    env:
      MIX_ENV: prod
      EVISION_VERSION: "0.1.2"
      OPENCV_VER: "4.6.0"

    steps:
      - uses: actions/checkout@v3

      - uses: erlef/setup-beam@v1
        with:
          otp-version: 25.0.4
          elixir-version: 1.13.4

      - uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: x64
      
      - name: Cache mix packages and OpenCV
        id: cache-mix-and-opencv
        uses: actions/cache@v3
        with:
          key: deps-${{ hashFiles('mix.lock') }}-${{ env.OPENCV_VER }}
          path: |
            ./deps
            ./3rd_party
      
      - name: Get mix deps and download OpenCV
        if: steps.cache-mix-and-opencv.outputs.cache-hit != 'true'
        shell: bash
        run: |
          mix deps.get
          bash scripts/download_opencv.sh ${OPENCV_VER} 3rd_party/cache 3rd_party/opencv/
      
      - name: Cache compiled OpenCV
        id: cache-mix-compile
        uses: actions/cache@v3
        with:
          key: precompile-${{ runner.os }}-${{ hashFiles('cc_toolchain/**') }}-${{ hashFiles('c_src/**') }}-${{ hashFiles('CMakeLists.txt') }}-${{ hashFiles('Makefile.win') }}-${{ env.OPENCV_VER }}
          path: |
            ./_build
            ./c_src/headers.txt
            ./c_src/configuration.private.hpp
            ./lib
            ./src

      - name: Create precompiled library
        run: |
          $Env:MAKE = "nmake"
          $Env:CMAKE_OPENCV_OPTIONS = "-D WITH_FFMPEG=OFF"
          Remove-Item Makefile
          mix compile

          $Env:PKG_NAME = "evision-amd64-windows-msvc-${Env:EVISION_VERSION}"
          if (Test-Path $Env:PKG_NAME) {
              Remove-Item "$Env:PKG_NAME" -Recurse -Force
          }
          New-Item -Path . -Force -Name "$Env:PKG_NAME" -ItemType "directory"
          $Env:PRIV_DIR = "_build/${Env:MIX_ENV}/lib/evision/priv"
          if (Test-Path "$Env:PRIV_DIR/x64") {
              Remove-Item "$Env:PRIV_DIR/x64" -Recurse -Force
          }
          Copy-Item -Path "$Env:PRIV_DIR" -Destination "$Env:PKG_NAME" -Recurse
          Copy-Item -Path "lib/generated" -Destination "${Env:PKG_NAME}/elixir_generated" -Recurse
          Copy-Item -Path "src/generated" -Destination "${Env:PKG_NAME}/erlang_generated" -Recurse

          tar -czf "${Env:PKG_NAME}.tar.gz" "${Env:PKG_NAME}"
          if (Test-Path "artifacts") {
              Remove-Item "artifacts" -Recurse -Force
          }
          New-Item -Path . -Force -Name "artifacts" -ItemType "directory"
          Move-Item -Path "${Env:PKG_NAME}.tar.gz" -Destination "artifacts"

      - uses: softprops/action-gh-release@v1
        with:
          files: artifacts/*.tar.gz
